TANKBLASTER_SERVER_IMAGE=localhost/tankblaster-server:latest
TANKBLASTER_SERVER_CONTAINER=tankblaster-server
TANKBLASTER_SERVER_PORT=8765
TANKBLASTER_SERVER_PUBLIC_URL=https://server.tankblaster.de
TANKBLASTER_SERVER_DATA_DIR=/root/docker/tankblaster/data
TANKBLASTER_SERVER_ALLOWED_ORIGINS=
TANKBLASTER_SERVER_MAX_CONNECTIONS=256
TANKBLASTER_SERVER_MAX_SESSIONS=128
TANKBLASTER_SERVER_MAX_QUEUE_LENGTH=256
TANKBLASTER_SERVER_PIDS_LIMIT=128
TANKBLASTER_SERVER_MEM_LIMIT=256m
TANKBLASTER_SERVER_CPUS=0.2
